:root {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(230, 226, 226);
    font-family: 'Google Sans';
}

a {
    color: black;
}
.header1 {
    text-align: center;
    text-decoration: underline;
    font-size: 60px;
    margin-top: 20px;
    font-weight: 700;
}

.header2 {
    text-decoration: underline;
    font-weight: 600;
}

.border {
    height: 2px;
    background-color: black;
    border-color: black;
}

#content{
    padding: 0px 50px;
}

#summary{
    padding-top: 100px;
    padding-bottom: 350px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: black;
    color: white
}

#summary .header2{
    font-size: 90px;
}

#personalQualities{
    padding: 100px 30px;
    background-color: rgb(60, 60, 60);
    color: white
}

#personalQualities .header2{
    font-size: 90px;
}

#currentEducation{
    padding: 200px 30px;
    background-color: black;
    color: white
}

#currentEducation .header2{
    font-size: 90px;
}

#personalAchivements {
    padding: 100px 30px;
    background-color: rgb(60, 60, 60);
    color: white
}

#personalAchivements .header2{
    font-size: 90px;
}

#image{
    margin-top: 10px;
    border-radius: 10px;
}

#image:hover {
    padding: 1px;
    border: solid 1px black;
    margin-top: 10px;
}

#description{
    max-width: 80vw;
}

#navigationBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 40px;
    justify-content: flex-start;
}

#navigationBar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: rgb(230, 226, 226);
    border-bottom: 5px solid black;
}

@media (max-width: 800px) {
  #navigationBar {
    flex-direction: column;
  }
}

#qualities li{
    list-style-type: none;
    padding: 3px 0px;
}

#qualities li::before{
    content: url(/check.svg);
    padding-right: 3px;
}


#navigationBar div:first-child{
    min-width: 300px;
}

.navigation {
    width: 100%;
}

.navigation ul{
    display: flex;
    justify-content: right;
}

.navigation li {
  list-style-type: none;
  background-color: #333333;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

footer {
  text-align: center;
  padding: 3px;
    background-color: black;
  color: white;
}